cmake-build-debug/
cmake-build-release/
CMakeFiles/
.cmake/
.idea/
CMakeCache.txt
Makefile
cmake_install.cmake
*.dylib
build.ninja
MonicaImageProcessHttpServer
MonicaImageProcessHttpServerForAARCH64

### Mac OS ###
.DS_Store