cmake-build-debug/
cmake-build-release/
CMakeFiles/
.cmake/
.idea/
CMakeCache.txt
Makefile
cmake_install.cmake
*.dylib
build.ninja
thirdparty/opencv-install/
thirdparty/heif-suite/

### Mac OS ###
.DS_Store